@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-decoration: none; */
}

body {
    background-image: url('pantanal2blur.png');
    background-repeat: no-repeat;
    background-size: 100%; /* Garante que a imagem cubra toda a tela */
    background-position-y: 100%; /* Centraliza a imagem */
    background-attachment: fixed; /* Mantém a imagem fixa ao rolar a página */
}

.cx_resultados{
    text-align: center;
    margin-top: 1%;
    font-size: 2px;
    width: 27%;
    height: 340px;
    background-color: #ffffffb0;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 1000px;
    border-style:solid;
    margin-right: auto;
    margin-left: auto;
}


h1 {
    font-size: 70px;
    text-align: center;
    margin-top: 3%;
}

h2{
    font-size: 25px;
    text-align: center;
}

h3{
    font-size: 180px;
    text-align: center;
    margin-top: 20%;
}


button {
    display: block;
    background-color: whitesmoke;
    margin-right: auto;
    margin-left: auto;
    width: 270px;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    font-size: 30px;
    box-shadow: 10px 10px 10px rgb(26, 25, 25);
    box-sizing: border-box;
    transition: transform 100ms ease-in-out;
    margin-bottom: 5%;
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
}


/* Estilos para Smartphones (telas pequenas) */
@media (max-width: 600px) {
    body {
        background-image: url('pantanal2blur.png');
        background-repeat: no-repeat;
        background-size: cover; /* Garante que a imagem cubra toda a tela */
        background-attachment: fixed; /* Mantém a imagem fixa ao rolar a página */
    }

    h1 {
        font-size: 50px;
        text-align: center;
        margin-top: 30%;
    }
    
    h2{
        margin-top: 2%;                    
        font-size: 25px;
        text-align: center;
    }
    
    .cx_resultados{
        text-align: center;
        margin-top: 5%;
        font-size: 80px;
        width: 70%;
        height: 270px;
        background-color: #ffffffb0;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
        border-radius: 1000px;
        border-style:solid;
        margin-right: auto;
        margin-left: auto;
    }

    h3{
        font-size: 60px;
        text-align: center;
        margin-top: 26%;
    }
    
    
    button {
        display: block;
        background-color: whitesmoke;
        margin-right: auto;
        margin-left: auto;
        width: 240px;
        height: 40px;
        border-radius: 20px;
        margin-top: 8%;
        font-size: 25px;
        box-shadow: 10px 10px 10px rgb(26, 25, 25);
        box-sizing: border-box;
        transition: transform 100ms ease-in-out;
        margin-bottom: 5%;
    }
    
    button:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

}

/* Estilos para Tablets (telas médias) */
@media (min-width: 601px) and (max-width: 1024px) {
    
    body {
        background-image: url('pantanal2blur.png');
        background-repeat: no-repeat;
        background-size: 120%; /* Garante que a imagem cubra toda a tela */
        background-position-y: 100%; /* Centraliza a imagem */
        background-attachment: fixed; /* Mantém a imagem fixa ao rolar a página */
    }

    h1 {
        font-size: 70px;
        text-align: center;
        margin-top: 8%;
    }
    
    h2{
        margin-top: 2%;
        font-size: 35px;
        text-align: center;
    }
    
    .cx_resultados{
        text-align: center;
        margin-top: 3%;
        font-size: 80px;
        width: 430px;
        height: 370px;
        background-color: #ffffffb0;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
        border-radius: 1000px;
        border-style:solid;
        margin-right: auto;
        margin-left: auto;
    }

    h3{
        font-size: 90px;
        text-align: center;
        margin-top: 20%;
    }
    
    
    button {
        display: block;
        background-color: whitesmoke;
        margin-right: auto;
        margin-left: auto;
        width: 270px;
        height: 50px;
        border-radius: 20px;
        margin-top: 4%;
        font-size: 30px;
        box-shadow: 10px 10px 10px rgb(26, 25, 25);
        box-sizing: border-box;
        transition: transform 100ms ease-in-out;
    }
    
    button:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

}

/* Estilos para Computadores (telas grandes) */
@media (min-width: 1025px) and (max-width: 1919px) {
    
    h1 {
        font-size: 60px;
        text-align: center;
        margin-top: 3.5%;
    }
    
    h2{
        margin-top: 1%;
        font-size: 35px;
        text-align: center;
    }
    
    .cx_resultados{
        text-align: center;
        margin-top: 1%;
        width: 25%;
        height: 330px;
        background-color: #ffffffb0;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
        border-radius: 1000px;
        border-style: solid;
        margin-right: auto;
        margin-left: auto;
    }

    h3{
        font-size: 80px;
        text-align: center;
        margin-top: 22%;
    }
    
    
    button {
        height: 40px;
        width: 23%;              
        border-radius: 18px;        
        font-size: 30px;        
        box-shadow: 5px 5px 5px rgba(26, 25, 25, 0.8);        
        box-sizing: border-box;        
        transition: transform 100ms ease-in-out;    
    }
    
    button:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}

/* Estilos para Televisões (telas extra grandes) */
@media (min-width: 1920px) {    
    
    h1 {
        font-size: 80px;
        text-align: center;
        margin-top: 3%;
    }
    
    h2{
        margin-top: 1%;
        font-size: 40px;
        text-align: center;
    }
    
    .cx_resultados{
        text-align: center;
        margin-top: 2%;
        width: 25%;
        height: 470px;
        background-color: #ffffffb0;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
        border-radius: 1000px;
        border-style: solid;
        margin-right: auto;
        margin-left: auto;
    }

    h3{
        font-size: 100px;
        text-align: center;
        margin-top: 25%;
    }
    
    
    button {
        height: 45px;
        width: 17%;              
        border-radius: 18px;        
        font-size: 30px;        
        box-shadow: 5px 5px 5px rgba(26, 25, 25, 0.8);        
        box-sizing: border-box;        
        transition: transform 100ms ease-in-out;   
    }
    
    button:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}